[defaults]
# Increase forks to allow multiple LXCs to update at once
forks = 20
# Inventory file location
inventory = ./hosts.ini
# Silence interpreter warnings
interpreter_python = /usr/bin/python3
# Don't check host keys for new nodes
host_key_checking = False

[ssh_connection]
# Speeds up tasks significantly
pipelining = True
